<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head><link href="/static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <title></title>
    <style type="text/css">
body {
	font-size: 12px;
	line-height: 25px;
}
tr {
	height: 25px;
}
th {
	font-size: 14px;
	border-bottom: solid 1px #DDDDDD;
	background-color: #EEEEEE;
}
td {
	font-size: 12px;
	text-align: center;
}

</style>
    <script language="javascript" type="text/javascript" src="tablesort.js"></script>
    <script language="javascript" type="text/javascript">
window.onload = function()
{
    new TableSorter("tb1");

}
    </script>
    </head>
    <body>
代码:new TableSorter("tb1");<br />
<table border="0" style="border:solid 1px #DDDDDD;width:360px;" cellpadding="0" cellspacing="0" id="tb1">
      <thead>
    <tr>
          <th>序号</th>
          <th>姓名</th>
          <th>工号</th>
          <th>职位</th>
          <th>性别</th>
          <th>业绩</th>
          <th>报到时间</th>
        </tr>
  </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>IDEA</td>
        <td>8008</td>
        <td>总裁</td>
        <td>男</td>
        <td>98</td>
        <td>2008-04-12</td>
    </tr>
    <tr>
        <td>2</td>
        <td>firefox</td>
        <td>8004</td>
        <td>主管</td>
        <td>男</td>
        <td>80</td>
        <td>2008-04-16</td>
    </tr>
    <tr style="background-color:#DDDDDD;">
        <td>10</td>
        <td>google</td>
        <td>8003</td>
        <td>经理</td>
        <td>男</td>
        <td>85</td>
        <td>2008-04-15</td>
    </tr>
    <tr>
        <td>4</td>
        <td>小姐</td>
        <td>8009</td>
        <td>副总裁</td>
        <td>男</td>
        <td>90</td>
        <td>2008-04-11</td>
    </tr>
    <tr>
        <td>5</td>
        <td>少爷</td>
        <td>8005</td>
        <td>助理</td>
        <td>女</td>
        <td>78</td>
        <td>2008-04-13</td>
    </tr>
    <tr>
        <td>6</td>
        <td>小希</td>
        <td>8001</td>
        <td>总监</td>
        <td>男</td>
        <td>60</td>
        <td>2008-04-18</td>
    </tr>
    <tr>
        <td>7</td>
        <td>小琳</td>
        <td>8002</td>
        <td>试用期</td>
        <td>女</td>
        <td>85</td>
        <td>2008-04-18</td>
    </tr>
    <tr>
        <td>8</td>
        <td>小玉</td>
        <td>8007</td>
        <td>高级经理</td>
        <td>女</td>
        <td>82</td>
        <td>2008-04-16</td>
    </tr>
    <tr>
        <td>9</td>
        <td>小周</td>
        <td>8006</td>
        <td>副总裁</td>
        <td>男</td>
        <td>88</td>
        <td>2008-04-13</td>
    </tr>
    </tbody>
    </table>
</body>
</html>
